<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <title>React App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anomymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div>aaa</div>
    {% for key,value in all_data.items %}
    {% for str,val in value.items %}
        <div>{{ str }}is{{ val }}</div>
    {% endfor %}
    {% endfor %}

</body>
</html>